<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Courses</title>
    </head>
    <body>
        <h1>All Courses</h1>
        
        <div th:each="course,iterationStatus: ${courses}">
            <h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
            <h3 th:text="'ID = ' + ${course.idCourse}">Student NPM</h3>
            <h3 th:text="'Nama = ' + ${course.name}">Student Name</h3>
            <h3 th:text="'SKS = ' + ${course.credits}">Student GPA</h3>
            <h3 th:text="'Mahasiswa yang mengambil'">Kuliah yang diambil</h3>
            <ul th:each="student,iterationStatus: ${course.students}">
                <li th:text="${student.npm} + '-' + ${student.name}" >
                    Nama kuliah-X SKS
                </li>
            </ul>
            <hr/>
        </div>
    </body>
</html>
